# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nandan_codes\patientdischargerApp-win\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
